
html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

   .carta .item {
    
    border-radius: 10px;
    width: 18vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
   }
   
   .item--1 {
    background: #a4cfe7;
   }
   
   .item--2 {
    background: #ffd8be;
   }
   
   .item--3 {
    background: #a9ecbf;
   }
   
   .item--4 {
    background: #f3bbe1;
   }
   
   .quantity {
    font-size: 25px;
    font-weight: 600;
   }
   
   .text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text--1 {
    color: rgb(64, 125, 210);
   }
   
   .text--2 {
    color: rgba(252,161,71,1);
   }
   
   .text--3 {
    color: rgba(66,193,110,1);
   }
   
   .text--4 {
    color: rgba(220,91,183,1);
   }


  
  


   .barra{
    display: grid;
    
    justify-content: center;
    align-items: center;
    
   }
#inventarioCaja{
  max-width: 15%;
}
 
 .row{
  margin-top: 10vh;
 }


   .caja  {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    padding: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#0c0d0e, #9e9e9e 50%,#000507);
    
  }
  
  .card__content {
    background: rgb(222, 218, 218);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    
  }
  #cajaContenedor{
    display: grid ;
    align-items: start ; 
    justify-content: center ;
    text-align: center;
    
    
  }
  #titulo{
    padding-top: 50px;
    font-weight: bold;
    font-size: 3.5vh;
  }

  #dinero{
    
    font-size: 60px;
  }
  

  .movimientos{
   
    width: 130px;
    height: 130px;
    font-size: 20px;
    
  }

  #contenedorMovimientos{
    
    display: flex;
    align-items: start;
    justify-content: space-around;
    
  }
 

  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }

  #span{
    background-color: black;
    color: white;
  }

  .form-control{
    background-color: white;  
    border-color: black;
  }

  .texto{
    font-size: 15px;
  }

  .btn{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    padding: 20px;

  }

  /* *{
    border: solid red 1px;
  } */