.cerrarSesion{
    text-decoration: none;
    border: none;
    background-color: #da1e07;
    color: white;
    border-radius: 5px;
    box-shadow: #000 2px 2px;
    
    
  }
  
  button {
    width: 140px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    font-size: small;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
  }
  
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(100px);
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-10px);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }
   
  p{
  text-align: center;
  }

  h2{
  text-align: center;
  }