body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.row{
  padding-top: 50px;
}


.botones > button{
  width: 20vw;
  margin: 20px;
  height: 23vh;
  background-color: black !important;
  font-size: 1.4rem !important;
  border: black;
}
.botones{
  background-size: cover;
  background-position: top;
  height: 30vh;
  display: grid;
  align-items: center;
  justify-content: center;
  
}
.imgUsuarios{
 margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  width: 20%;
}




