/* *{
    border: 1px solid red;
  } */

  .input {
    margin-bottom: 20px;
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .form-control{
    background-color: rgb(203, 203, 203);  
  }

  .form-control2{
    background-color: rgb(255, 255, 255);  
  }


  
  .label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  
  .thtabla{
    font-size: 1.6rem;
  }
  #trTabla{
    font-size: 1.6rem;
    text-align: center;
  }
  .footersize{
    text-align: center;
    font-size: 1.6rem;
  }
  #buscarProducto{
    font-size: 1.5rem;
  }

  .btn{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    padding: 20px;

  }

  html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  


  /* * {
    font-size: 12px;
    font-family: 'Times New Roman';
} */

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 400px;
    max-width: 4px;
}

td.quantity,
th.quantity {
    width: 400px;
    max-width: 400px;
    word-break: break-all;
}

td.price,
th.price {
    width: 4000px;
    max-width: 4000px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 450px;
    max-width: 450px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
